* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> 8073ae8 (add product functions)
}

.container{
    width: 100%;
    max-width: 740px;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}