.left-section,
.right-section {
  width: 340px;
  z-index: 999;
  height: 500px;
  display: flex;
  overflow-y: auto;
  padding: 15px 20px;
  position: relative;
  overflow-x: hidden;
  border-radius: 25px;
  flex-direction: column;
  background-color: white;
  border: 2px solid #f1bd07;
  box-shadow: -3px 0px 3px rgb(241, 189, 7, 0.4);
}

.right-section {
  margin-left: 35px;
}
.left-section::-webkit-scrollbar,
.right-section::-webkit-scrollbar {
  display: none;
}

.srt {
  margin-bottom: 27px;
}

.section-header img {
  width: 60px;
  margin-left: -11px;
  margin-bottom: 17px;
}

.section-title {
  font-size: 23px;
  font-size: 23px;
  color: #351417;
  color: #351417;
  margin-bottom: 8px;
  margin-bottom: 25px;
}

.pr {
  margin-bottom: 25px;
}

.text {
  font-size: 15px;
  color: #351417;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  color: white;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
