.payment-box {
    display: flex;
}

.brand-wrapper {
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(213, 220, 223);
    border: 0;
}

.brand-wrapper img{
    width: 75px;
    transform: rotate(-20deg)
}