<<<<<<< HEAD
=======
.corner-bg {
    width: 112px;
    height: 157px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F1BD07;
    border-radius: 100% 0% 100% 0% / 0% 9% 91% 100% ;
    z-index: -1;
}

>>>>>>> 8073ae8 (add product functions)
.box {
    display: flex;
    flex-direction: column;
}

.box:not(:last-child) {
    margin-bottom: 20px;
}

.img-wrapper{
    width: 306px;
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    background-color: rgb(213, 220, 223);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
=======
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: #d5dcdf;
}

.brand-img{
    width: 280px;
    transform: rotate(-20deg);
>>>>>>> 8073ae8 (add product functions)
}

.product-heading {
    font-size: 23px;
    color: #351417;
    margin-top: 0;
    margin-bottom: 14px;
}

.product-info {
    color: rgb(101, 101, 101, .8);
    font-size: 15px;
    margin-bottom: 14px;
}

.product-info-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price, .add-card-btn {
    font-size: 20px;
    font-weight: bold;
    color: #351417;
    margin-top: 0;
}

.add-card-btn {
    font-size: 15px;
    border: 1px solid transparent;
    background-color: #F1BD07;
    border-radius: 25px;
    padding: 12px 10px;
    cursor: pointer;
}

.add-card-btn:hover{
    opacity: 0.9;
}

.add-card-btn:active{
    opacity: 0.8;
}
<<<<<<< HEAD

=======
>>>>>>> 8073ae8 (add product functions)
